In [ ]:
# Ignore, this code will be explained later
import os
import sys

module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path: sys.path.append(module_path)

from src import utils

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
%reload_ext post_content
%post_content register YOUR_USER_NAME

In [ ]:
%matplotlib inline

In [ ]:
student_scores_pd = pd.DataFrame(((np.random.rand(10,4) * 100) )
             , columns=['Assignment 1', 'Assignment 2', 'Test', 'Bribe']
             , index=['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie', 'Jon', 'Arya', 'Ned', 'Danny', 'That red lady']
            )
student_scores_pd['Test'] *= 10
student_scores_pd['Bribe'] = np.power(student_scores_pd['Bribe'], 2)
student_scores_pd = student_scores_pd.round()

student_scores_pd

# Pandas - dataframe operations

Much like series (and numpy), dataframes have _many_ built in mathematical operations. Calling an aggregating math function on a dataframe will return values, aggregated for each column:

In [ ]:
student_scores_pd.sum()

However, if you wanted to add up the two assignments and the test for each student, you would have to tell the sum function that you want to sum across a different axis:

In [ ]:
student_scores_pd.sum(axis=1)

In [ ]:
student_scores_pd.sum(axis='columns')

#### Detour: `...axis=?`

The internet has many images and mnemonics attempting to make it easy to remember which index does what. My favorite is this:

`axis=1` or `axis="columns"` means, go through each row and operate on columns. This means that if I do `df.sum(axis=0)`, I am going through each row and adding up values in each column. This means we will end up with one value for each row.

Note that the default axis in Pandas functions is 0 or 'rows'. This means that, by default, functions will operate on rows or _go through each column_, which will result in _one value per column_.

In [ ]:
student_scores_pd.mean()

In [ ]:
student_scores_pd.mean(axis=0)

In [ ]:
student_scores_pd.mean(axis='rows')

### Remove columns (and the 'axis' error related to it)

In [ ]:
student_scores_pd.drop(['Test'])

In [ ]:
student_scores_pd.drop(['Test'], axis=1)

### Common mathematical functions

Pandas has all the standard mathematical and statistical functions you might expect to find in a data science package such as `mean`, `sum`, `max`, `min`, `log`, etc.

**Example** Given the `student_scores_pd` dataframe below, standardize it so all values are between 0 and 1 using the Min-Max feature scaling formula at https://en.wikipedia.org/wiki/Normalization_(statistics) : 

note: scikit-learn provides an API to this: `MinMaxScaler()`

In [ ]:
(student_scores_pd - student_scores_pd.min()) / (student_scores_pd.max() - student_scores_pd.min())

Is it scaling the whole dataset is a single matrix or is it doing the right thing, and scaling each column?

In [ ]:
tmp_df = pd.DataFrame()
for c in student_scores_pd.columns:
    tmp_df[c] = (student_scores_pd[c] - student_scores_pd[c].min()) / (student_scores_pd[c].max() - student_scores_pd[c].min())

In [ ]:
tmp_df

**Question** Why aren't the two datasets different?

In [ ]:
student_scores_pd.hist(figsize=(20,10));

In [ ]:
student_scores_pd.plot.scatter(x='Test', y='Bribe')

**Exercise** Looks like the `Bribe` column may need to be log scaled. Please do so.

In [ ]:
%%post_content exercise_030_130_a

#type your answer here

### Sort a dataframe

In [ ]:
student_scores_pd

We can sort a table by a column, in either ascending or decending manner

In [ ]:
student_scores_pd.sort_values(by='Test', ascending=True)

A dataframe can be sorted by index in the following manner:

In [ ]:
student_scores_pd.sort_index()

**Exercise** Sort the dataframe `student_scores_pd` by Bribe, then Test scores
(try to guess how multiple columns might be sorted)

In [ ]:
%%post_content exercise_030_130_d

#type your answer here

### 'Bucketize' a column

There are times when you need to convert a 'numeric' column to a category or a factor. For example, client ages may be better represented as the decage of their age (20s, 30s, 40s) or 'young', 'middle age', 'senior.' Algorithms to create such buckets can be quite involved; however, for our purpose, we will use `pd.cut` to divide up values any way pandas likes.

In [ ]:
student_scores_pd

In [ ]:
student_scores_pd['Assignment 1'].sort_values()

In [ ]:
pd.cut(student_scores_pd['Assignment 2'], bins=3)

**Exercise** Add the buckets created above to dataframe `student_scores_example_pd` and name the column `Assignment 1 segmented`

In [ ]:
%%post_content exercise_030_130_b

student_scores_example_pd = student_scores_pd.copy()

#type your answer here

student_scores_example_pd

### Convert row values to columns

Statistical models like logistic regression need 'one-hot-encoded' columns. The following example shows how built-in function can be used, alogn with the knowledge of dataframes we have built-up so far. Note that the sciki-learn library provides a similar function.

In [ ]:
student_scores_pd['Gender'] = ['Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female']
student_scores_pd

Convert the `Gender` column

In [ ]:
pd.get_dummies(student_scores_pd['Gender'])

Combine the orignal datagframe with the new columns (NOTE: we will learn about `concat` in a later lecture)

In [ ]:
pd.concat([student_scores_pd, pd.get_dummies(student_scores_pd['Gender'])], axis=1)

Looks like we have to remove the `Gender` column ourselves

In [ ]:
pd.concat([student_scores_pd, pd.get_dummies(student_scores_pd['Gender'])], axis=1).drop(['Gender'], axis=1)

**Exercise** Change the 'Assignment 1 segmented' column to be one-hot-encoded, for consumtpion by a model

In [ ]:
%%post_content exercise_030_130_c

#type your answer here