In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import random

In [ ]:
%reload_ext postcell
%postcell register

# Reshaping dataframes

Creating synthetic data

In [ ]:
calories = {
    'Donuts': 195 * 1,
    'Bacon' : 43 * 3,
    'Beer'  : 154 * 1,
    'Salad' : 535 * 1,
    'Pot Roast': 252 * 2,
    'Waffles': 82 * 3,
    'Tofu'  : 94
}

k = 9
homer_food = random.choices(['Donuts', 'Bacon', 'Beer'], k=k*3)
marge_food = random.choices(['Salad', 'Pot Roast', 'Waffles'], k=k)
lisa_food  = random.choices(['Salad', 'Tofu', 'Waffles'], k=k)

days = random.choices(list(range(1,1+int(k/3))), k= k * 3 + k + k)

food_df = pd.DataFrame({
    'day' : days,
    'name': ['Homer'] * k * 3 + ['Marge'] * k + ['Lisa'] * k,
    'food': homer_food + marge_food + lisa_food,
    'calories': list(map(lambda x: calories[x],homer_food)) + list(map(lambda x: calories[x],marge_food)) + list(map(lambda x: calories[x],lisa_food))             
}).sample(frac=1).reset_index().drop(['index'],axis='columns')

#food_df.head()

In [ ]:
food_df.head()

Same dataset can be shaped in many different ways. For example:

In [ ]:
food_df.loc[food_df['day'] == 1, ['name', 'food', 'calories']].groupby(['name', 'food']).sum()

In [ ]:
food_1day_df = food_df.loc[food_df['day'] == 1, ['name', 'food', 'calories']].groupby(['name', 'food']).sum().reset_index()

In [ ]:
food_1day_df

Perhaps the food column is pivoted

In [ ]:
food_1day_df.pivot(index='name', columns='food', values='calories')

### `pivot` to turn a column of values into one column per value
#### long to wide

In [ ]:
pd.DataFrame({'colA': [1,2,3,4,5],
             'colB': ['catA', 'catB', 'catC', 'catD', 'catE'],
             'colC': ['valA', 'valB', 'valC', 'valD', 'valE']
             })

In [ ]:
pd.DataFrame({'colA': [1,2,3,4,5],
             'colB': ['catA', 'catB', 'catC', 'catD', 'catE'],
             'colC': ['valA', 'valB', 'valC', 'valD', 'valE']
             }).pivot(index='colA', columns='colB', values='colC')

**Exercise** Given dataframe `food_1day_df`, change it so each row represents a food and each column represents a Simpson family member and the cells in the table represent calories.

In [ ]:
%%postcell exercise_030_170_a

#type your answer here

### `melt` to turn multiple columns of values into two columns: data name, data value
#### wide to long

In [ ]:
food_homer_df = pd.DataFrame({'day':[1,2,3]
                             , 'Bacon':[129,129,129]
                             , 'Beer':[0, 154, 154]
                             , 'Donuts':[195, 0, 195]
                             })

In [ ]:
food_homer_df

We need to 'unpivot' this using `melt`. Now that you have learned how to pivot a dataframe, how can we think about moving the rows, 'Bacon', 'Beer' and 'Donuts' into a single column containing column headings as entries?

In [ ]:
food_homer_df.melt(id_vars='day', var_name='food', value_name='calories')

**Exercise** Given `food_homer_df`, change the dataframe so food items appear in rows and day value appear in columns. The final result should like like this (you must use melt/pivot, ignore index names)

In [ ]:
food_homer_df

In [ ]:
pd.DataFrame({'food':['Bacon', 'Beer', 'Donuts'],
              '1':[129, 0, 195],
             '2':[129, 154, 0],
             '3':[129, 154, 195]})

In [ ]:
%%postcell exercise_030_170_b

#type your answer here

In [ ]:
food_homer_df.T